@import './fonts_link';
@import './designer_content';
@import './header_hidden_menu';
@import './sound_control';
@import './index_animation_out';
@import './index_animation_in';

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    @media (min-width: 1919px) {
        max-width: 1728px;
    }
}

body {
    position: relative;
}

.fullscreen-back {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    // background: rgba(255, 255, 255, 0.5);                // здесь --- ПЕРЕКЛЮЧЕНИЕ BACKGROUD
    background-size: cover;
    backdrop-filter: blur(10px);
    background: rgba(239, 239, 239, 0.8);                 // здесь
    .video-back {
        z-index: -10;
        position: absolute;
        top: 0;
        left: calc(50% - 2048px / 2);
        object-fit: cover;
        width: auto;
        height: auto;
    }
}

header {
    padding-top: 33px;
    margin-bottom: 33px;
    // display: none; 
    display: flex;                                 // УПРАВЛЕНИЕ header
    justify-content: space-between;
    @media (min-width: 1710px) {
        padding-top: 42px;
    }
    .header_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 258px;
        & a {
            display: block;
            cursor: pointer;
        }
        .header_right-show-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: auto;
            height: 14px;
            .right-show-menu_line-top {
                transition: 0.3s all linear;
                background-color: #454545;
                height: 2.5px;
                width: 46px;
            }
            .right-show-menu_line-bottom {
                transition: 0.3s all linear;
                background-color: #454545;
                height: 2.5px;
                width: 46px;
            }
            &:hover {
                .right-show-menu_line-top {
                    transform: translate(0,-2px);
                }
                .right-show-menu_line-bottom {
                    transform: translate(0,2px);
                }
            }
        }
        & p {
            font-family: 'Montserrat';
            font-weight: bold;
            font-size: 12px;
            line-height: 17px;
            color: #454545;
            @media (min-width: 1710px) {
                font-size: 14px;
            }
        }
        .header_phone {
            display: block;
            text-decoration: none;
            color: #454545;
            font-family: 'Montserrat';
            font-weight: bold;
            font-size: 12px;
            line-height: 17px;
            cursor: pointer;
        }
    }
}

.top-menu {
    margin: 0 auto;
    width: 1100px;
    // display: none; 
    display: flex;                                      // ОТКЛЮЧЕН nav
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #BCBCBC;
    border-bottom: 1px solid #BCBCBC;
    padding: 18px 0;
    @media (min-width: 1710px) {
        margin-top: 35px;
        padding: 20px;
    }
    .top-menu_btns {
        font-family: 'Montserrat';
        text-transform: uppercase;
        color: #454545;
        font-weight: bold;
        font-size: 10px;
        line-height: 15px;
        cursor: pointer;
        @media (min-width: 1710px) {
            font-size: 12px;
        }
    }
}

.main {
    margin-top: 90px;
    // display: none;
    display: flex;                                                         // здесь --- ВЕСЬ БЛОК
    @media (min-width: 1710px) {
        margin-top: 93px;
    }
    .main_content {
        display: flex;
        flex-direction: column;
        width: 400px;
        color: #454545;
        @media (min-width: 1710px) {
            width: 576px;
        }
        .main_header-top_wrapper {
            overflow: hidden;
            .main_header-top {
                font-family: 'DrukTextWide';
                font-weight: 500;
                font-size: 70px;
                line-height: 100%;
                @media (min-width: 1710px) {
                    font-size: 96px;
                }
            }
        }
        .main_header-bottom_wrapper {
            overflow: hidden;
            .main_header-bottom {
                margin-top: 20px;
                font-family: 'DrukTextWide';
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                @media (min-width: 1710px) {
                    margin-top: 25px;
                    font-size: 24px;
                }
            }
        }
        .main_text-wrapper {
            overflow: hidden;
            .main_text {
                margin-top: 27px;
                width: 357px;
                font-family: 'Montserrat';
                font-size: 12px;
                line-height: 120%;
                font-weight: bold;
                @media (min-width: 1710px) {
                    margin-top: 35px;
                    font-size: 16px;
                }
            }
        }
        .main_wells-wrapper {
            overflow: hidden;
            .main_wells {
                margin-top: 21px;
                display: flex;
                align-items: center;
                border-top: 1px solid #BCBCBC;
                border-bottom: 1px solid #BCBCBC;
                width: auto;
                & :not(:first-child) {
                    margin-left: 24px;
                }
                @media (min-width: 1710px) {
                    margin-top: 29px;
                }
                .main_well-types {
                    padding: 13px 0;
                    display: flex;
                    flex-direction: column;
                    @media (min-width: 1710px) {
                        padding: 15px 0;
                    }
                    & img {
                        width: 32px;
                        height: 32px;
                    }
                    & p {
                        margin-top: 9px;
                        margin-left: 0;
                        font-family: 'Montserrat';
                        font-weight: 600;
                        font-size: 8px;
                        line-height: 130%;
                        @media (min-width: 1710px) {
                            margin-top: 11px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .main_well-types_line {
            width: 1px;
            height: 83px;
            background-color: #BCBCBC;
        }
        .main_more-info-wrapper {
            overflow: hidden;
            .main_more-info {
                display: flex;
                align-items: center;
                padding: 38px 0 36px 0;
                overflow: hidden;
                @media (min-width: 1710px) {
                    padding: 41px 0 39px 0;
                }
                .main_more-info_btn {
                    margin-right: 48px;
                    font-family: 'DrukTextWide';
                    font-weight: 500;
                    font-size: 8px;
                    line-height: 15px;
                    color: #FFFFFF;
                    background: #D9793E;
                    padding: 13.5px 25px;
                    cursor: pointer;
                    @media (min-width: 1710px) {
                        font-size: 12px;
                        padding: 16.5px 30px;
                    }
                }
                .main_more-info_text {
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 120%;
                    color: #454545;
                    width: 188px;
                }
            }
        }
        .main_line-bottom {
            border-bottom: 1px solid #BCBCBC;
            width: 1200px;
        }
    }
    .main_person-images {
        position: absolute;
        width: 54%;
        right: 45px;
        bottom: 0;
        height: 600px;
        @media (min-width: 1710px) {
            height: auto;
        }
        .person-images_wrapper {
            display: flex;
            height: inherit;
            position: relative;
            & img {
                position: absolute;
                height: 595px;
                object-fit: cover;
                bottom: 0;
                @media (min-width: 1710px) {
                    min-height: 750px;
                }
            }
            .designer1 {
                z-index: 1;
                right: 388px;
                @media (min-width: 1710px) {
                    right: 502px;
                }
            }
            .engineer {
                right: 220px;
                z-index: 0;
                @media (min-width: 1710px) {
                    right: 285px;
                }
            }
            .top-manager {
                right: 0;
            }
        }
    }
    .main_mouse-language {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        bottom: 53px;
        & img {
            margin-bottom: 40px;
        }
        & p {
            font-family: 'DrukTextWide';
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #454545;
            cursor: pointer;
        }
    }
}



